<h4>PT Mencari Cinta Sejati</h4>
    <hr>
    <ul class="nav flex-column">
      <li class="nav-item"><a href="/dashboard" class="nav-link text-white">Dashboard</a></li>
      <li class="nav-item"><a href="/karyawan" class="nav-link text-white">Karyawan</a></li>
      <li class="nav-item"><a href="/area" class="nav-link text-white">Area</a></li>
      <li class="nav-item"><a href="/pekerjaan" class="nav-link text-white">Pekerjaan</a></li>
      <li class="nav-item"><a href="#" onclick="logout()" class="nav-link text-danger">Logout</a></li>
    </ul>